{% extends "base.html" %}
{% block title %}Create a New Character{% endblock %}

{% block content %}
    <h1>Create a New Character: </h1>
    <form action="{{ url_for('character_new') }}" method="post">
    Name: <input type="text" name="name"><br>
    Race: <input type="radio" name="race" value="Human" checked>Human<br>
    Guilds:<br>
        <input type="checkbox" name="guild" value="City Guards">City Guards<br>
    Skills:<br>
        <input type="checkbox" name="skills" value="Weaving">Weaving<br>
        <input type="checkbox" name="skills" value="Defend">Defend<br>
    <input type="submit" value="Submit">
    </form>
    <br>
{% endblock %}

{% block navigation %}
    <a href="{{ url_for('characters') }}">Back to Characters</a><br>
    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}