{% extends "base.html" %}
{% block title %}Character List{% endblock %}

{% block content %}
    <h1>Characters</h1>
        <ul>
        {% for character in characters %}
            <li>
                <a href="{{ url_for('character_details', name=character.name) }}">{{ character.name }}</a>
            </li>
        {% endfor %}
        </ul>
{% endblock %}}

{% block navigation %}
    <a href="{{ url_for('character_new') }}">Create a New Character</a><br>
    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}