{% extends "base.html" %}
{% block title %}Create a New Character{% endblock %}

{% block content %}
    <h1>Create a New Character: </h1>
    <form action="{{ url_for('character_new') }}" method="post">
    Name: <input type="text" name="name"><br>
    Race:<br>
        {% for race in races %}
        <input type="radio" name="race" value="{{ race.name }}" checked>{{ race.name }}<br>
        {% endfor %}
    Patron Deity:<br>
        <input type="radio" name="deity" value="" checked>None<br>
        {% for deity in deities %}
        <input type="radio" name="deity" value="{{ deity.name }}">{{ deity.name }}, {{ deity.title }}: {{ deity.description }}<br>
        {% endfor%}
    Guilds:<br>
        {% for guild in guilds %}
        <input type="checkbox" name="guilds" value="{{ guild.name }}">{{ guild.name }}: {{ guild.description }}<br>
        {% endfor %}
    Skills:<br>
        {% for skill in skills %}
        <input type="checkbox" name="skills" value="{{ skill.name }}">{{ skill.name }}: {{ skill.description }}<br>
        {% endfor %}
    <input type="submit" value="Submit">
    </form>
    <br>
{% endblock %}

{% block navigation %}
    <a href="{{ url_for('characters') }}">Back to Characters</a><br>
    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}